# Ignorer les dossiers clonés localement à ne pas pusher
Clisa/CLisa_Prime/popcorn-cli/
Clisa/CLisa_Prime/triton/

# En bonus : ignorer les fichiers temporaires
*.o
*.log
*.swp
*.tmp
*.bak

# Ignorer les binaires compilés
*.out
*.exe
*.bin

# Ignorer les dossiers de build
/build/
/dist/
/__pycache__/
/.vscode/
