# Ignorer les dossiers clonés localement à ne pas pusher
.env
.env/
.venv
.venv/
env
env/
venv
venv/
Clisa/CLisa_Prime/popcorn-cli/
Clisa/CLisa_Prime/triton/
install_kdb_files_for_pytorch_wheels.sh
Anaconda3-2025.06-0-Linux-x86_64.sh
cryptodexx/cryptodex
cryptodexx/cryptodex/
codext/
Lisaa/Lisa
Lisaa/Lisa/
Clisaa/Clisa
Clisaa/Clisa/
# En bonus : ignorer les fichiers temporaires
*.o
*.log
*.swp
*.tmp
*.bak

# Ignorer les binaires compilés
*.out
*.exe
*.bin

# Ignorer les dossiers de build
/build/
/dist/
/__pycache__/
/.vscode/
