*# Ignorer les dossiers de venvs
.env
.env/
.venv
.venv/
Lisa/.env
Lisa/.env/
Lisa/.venv
Lisa/.venv/

# Ignorer tous les fichiers __pycache__
__pycache__/

# Ignorer tous les fichiers .json sauf ceux dans un dossier spécifique
*.json
*.jsonl

# Sauf si tu veux garder certains fichiers JSON :
!Lisa/Lisa_Genie/LisaFinal3.jsonl

# Ignorer tous les dumps ou logs massifs
*.log
*.dump
*.bak
*.tmp

# Ignorer les fichiers de PyCharm
.idea/

# Ignorer les fichiers générés par tests ou données intermédiaires
cycle_data.json

# Ignorer des dossiers spécifiques
Lisa/Lisa_AntModule/Act1_ChatToAPI
Lisa/Lisa_AntModule/Act2_ChatToAPI
Lisa/Lisa_AntModule/Act3_ChatToAPI
Lisa/Lisa_AntModule/ChatToAPI
Lisa/Lisa_AntModule/LeGenieCode
Lisa/Lisa_Genie/Act1_ChatToAPI/*/*.txt
Lisa/Lisa_Genie/Act2_ChatToAPI/*/*.txt
Lisa/Lisa_Genie/Act3_ChatToAPI/*/*.txt
Lisa/Lisa_Genie/GenieLogs
Lib
Logs
Scripts


